@tailwind base;
@tailwind components;
@tailwind utilities;

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  cursor: se-resize;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.box_container {
  /* background: transparent; */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* opacity: 0; */
}

.three_d_box_container figure {
  position: absolute;
  z-index: 100;
  opacity: 1;
}

.three_d_face,
.three_dimensional_frame {
  outline: 1px solid transparent;
}

.three_d_box_container .back {
  background: #222;
}

.artwork_layer {
  background: #333;
  display: inline-block;
}
.box_container:hover {
  transform: rotateY(-45deg) !important;
  transition: transform 1s !important ;
}
